.detail-page{
    padding:30px;
}

.detail-card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    gap:30px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    max-width:1200px;
    margin:auto;
}

.detail-image{
    width:50%;
}

.detail-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    min-height:500px;
}

.detail-info{
    width:50%;
    padding:35px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.badge{
    background:#4f46e5;
    color:#fff;
    padding:8px 15px;
    border-radius:20px;
    display:inline-block;
    width:max-content;
    margin-bottom:15px;
}

.detail-info h1{
    font-size:42px;
    margin-bottom:15px;
}

.lokasi{
    font-size:18px;
    color:#666;
    margin-bottom:15px;
}

.rating-box{
    display:flex;
    gap:20px;
    font-size:18px;
    margin-bottom:20px;
}

.harga{
    font-size:36px;
    color:#4f46e5;
    margin-bottom:25px;
}

.deskripsi h3{
    margin-bottom:10px;
}

.deskripsi p{
    line-height:1.8;
    color:#555;
    margin-bottom:30px;
}

.booking-btn{
    background:#4f46e5;
    color:white;
    padding:15px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    width:max-content;
}

.booking-btn:hover{
    opacity:.9;
}

.not-found{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
}

@media(max-width:900px){
    .detail-card{
        flex-direction:column;
    }

    .detail-image,
    .detail-info{
        width:100%;
    }

    .detail-image img{
        min-height:300px;
    }

    .detail-info h1{
        font-size:32px;
    }
}
