.profile-page{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.profile-card{
    width:450px;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.profile-image{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 20px;
}

.profile-card h2{
    text-align:center;
    margin-bottom:25px;
    color:#1f2937;
}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

.form-group label{
    margin-bottom:8px;
    font-weight:600;
}

.form-group input{
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:10px;
    outline:none;
}

.save-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:#fff;
    font-weight:600;
    cursor:pointer;
}

.save-btn:hover{
    background:#4338ca;
}